body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-weight: bold;
    font-size: large;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}

input[type="number"], select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    text-align: center;
}

input[type="number"]:focus, select:focus {
    border-color: #007bff;
}

label {
    margin-right: 10px;
}

div {
    margin-top: 20px;
}

.audio-controls {
    display: none;
}

.channel-controls, .metronome-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metronome-selector, .channel-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bpm-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}